[Unit]
Description=image processing server service
After=network-online.target
Wants=network-online.target
StartLimitBurst=10000
StartLimitInterval=1

[Service]
User=pi
Type=simple
Restart=always
RestartSec=3
ExecStart=python3 -u /home/pi/processing/src/main.py
WorkingDirectory=/usr/bin

[Install]
WantedBy=multi-user.target